/* ---------- */
/* General */
/* ---------- */

body
{
	background:#000;
	font-family:tahoma;
	font-size:12px;
}

#nickFrame {
	background:#ffffff;
	position: fixed;
	top:50%;
	left: 45%;
	margin-top: -50px;
	margin-left: -100px;

}

#main
{
	width:1100px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	display:none;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* ---------------------- */
/* first panel section */
/* ---------------------- */

#firstpanel
{
	float:left;
	width:190px;
}

#people
{
	background:#fff;
	border-radius:5px;
	border:1px solid #ccc;
	width:180px;
	height:200px;
	overflow: auto;
	overflow-x: hidden;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
}

#people p
{
	position: relative;
	padding:0px;
	margin-top:0px;
	margin-bottom:5px;
}

#clearcanvas
{
	margin-top:120px;
	padding:5px;
}

.color
{
	padding:2px;
	border:solid 2px #ccc;
}

/* -------------------------- */
/* second panel section */
/* -------------------------- */

#secondpanel
{
	background:#fff;

	border-radius:5px;
	border:2px solid #ccc;
	margin-left:30px;
	float:left;
}

#canvas
{
	pointer-events: none;
	cursor:crosshair;
	background:#ccc;
}

/* ---------------------- */
/* third panel section */
/* ---------------------- */

#thirdpanel
{
	margin-left:30px;
	float:left;
	width:320px;
}

#chatcontent
{
	background:#fff;
	border-radius:5px;
	border:1px solid #ccc;
	width:300px;
	height:400px;
	overflow: auto;
	overflow-x: hidden;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
}

#chatcontent
{
	padding:0px;
	margin-top:0px;
	margin-bottom:5px;
}

#chatnick
{
	border-radius:2px;
	border:1px solid #ccc;
	margin-top:10px;
	padding:5px;
	width:80px;
	float:left;
}

#chatinput
{
	border-radius:2px;
	border:1px solid #ccc;
	margin-top:10px;
	padding:5px;
	width:200px;
}

#clearchat,
#changenickcolor,
#readytodraw
{
	margin-top:10px;
	padding:5px;
}

#cursors{
	position:relative;
}

#cursors .cursor {
	position: absolute;
	width: 15px;
	height: 22px;
}

.buttons-set{
	width:40px;
	height:40px;
}

#colorButtons{
	position:absolute;
	margin-top:220px;
}
